@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
}

button{
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.4s ease;
  cursor: pointer;
}

button:hover{
  color: black;
  background: whitesmoke;
}

a {
  text-decoration: none;
}

body{
  text-align: center;
  margin: 0 auto;
}
nav{
  max-width: 1100px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 20px 0px; 
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}
nav li:first-child{
  color: rgb(95, 4, 170);
}
nav li:first-child:before{
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  transform: translateY(-20px);
}
nav li:hover:before{
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  transform: translateY(-20px);
}
nav li:last-child:before{
  background: transparent;
}
#language{
  background: rgba(138, 135, 135, 0.349);
  border-radius: 25px;
  padding: 10px;
}
.main-header{
  background: url(./assets/img/bg.jpg) fixed center/cover;
  padding: 60px;

}
header h1{
  color: whitesmoke;
  text-transform: uppercase;
  margin: 30px 0 35px;
}
header button{
  margin-bottom: 30px;
  padding: 10px 20px;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 0.9rem;
}
.header-text{
  display: flex;
  align-items: center;text-align: center;
  padding: 60px;
}
.header-text p{
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.1rem;
}
.icon-part{
  background: #181818;
  color: whitesmoke;
  padding: 65px 0;
}
.icon-part-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
.list-icon-part h3 {
  text-transform: uppercase;
  margin: 30px 0 10px;
}
.list-icon-part button{
  margin: 30px 0;
  padding: 10px 25px;
}
.news-part{
  padding: 80px 0 45px;
  background: rgba(255, 255, 255, 0.747);
}
.header-news{
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  margin: 0 auto;
}
.left-part{
  line-height: 30px;
}
.left-part h2{
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.left-part p{
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
}
.right-part button{
  color: rgba(0, 0, 0, 0.897);
  border-color: black;
  padding: 10px 20px;
}
.right-part button:hover{
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.897);
}
.main-news{
}
.main-news-container{
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.main-news-container > div{
  position: relative;
  max-width: 23%;
}
.mn-pic img{
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}
.main-news-container h4{
  text-align: left;
  margin: 10px 0;
}
.main-news-container p{
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 45px;

}
.link{
  align-items: left;
  position: absolute;
  bottom: 0;
}
.contact{
  padding: 80px 0 45px;
}
.contact-container{

}
.contact-list{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  margin-bottom: -1px;
}
.contact-list > div{
  max-width: 20%;
}
.contact-img{
}
.contact-list h5{
  text-transform: uppercase;
  text-align: left;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.infos-p{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.infos-p li{
  margin-bottom: 10px;
}
.infos-p a{
  color: rgb(146, 2, 146);
  font-weight: 600;
  font-size: 0.8rem;
}
.contact-list p{
  text-align: left;
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.5rem;
}
.contact-list .list a{
  text-align: left;
}
.contact-list h6{
  text-align: left;
  font-size: 0.9rem;
}
.network{
}
.footer-logos{
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.copyright{
  margin-top: 25px;
}
.contact-medias{
  max-width: 1100px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
  padding-top: 50px;
}
.medias-text{
  text-align: left;
  padding: 0px 25px;
}
.medias-text h3{
  text-transform: uppercase;
  margin-bottom: 15px;
}
.medias-text p{
  font-size: 0.9rem;
  font-weight: 800;
}
.medias-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer{
  background: rgb(15, 15, 15);
  color: whitesmoke;
  padding: 25px;
}
footer h3{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
footer ul{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

/* *********** MEDIA QUERIES *************** */

@media screen and (max-width: 895px) {
  nav li {
    font-size: 0.7rem;
  }
  header h1{
    font-size: 1.5rem;
  font-weight: 700;
  }
  .main-header img {
    width: 60%;
  }
  .contact-list .list {
    padding-left: 15px;
  }
  .medias-logos img {
    width: 40px;
  }
  footer ul {
    flex-wrap: wrap;
  }
  footer li {
    margin: 5px;
  }
}
@media screen and (max-width: 704px) {
  nav li {
    display: none;
  }
  .icon-part-container {
    display: block;
  }
  .icon-part {
    padding: 0 0 30px;
  }
  .list-icon-part {
    margin-top: 40px;
  }
  .header-news {
    display: block;
  }
  .left-part {
    width: 100%;
  }
  .left-part h2 {
    text-align: center;
  }
  .left-part p {
    text-align: center;
    margin-bottom: 10px;
  }
  .main-news-container {
    display: block;
  }
  .main-news-container div {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 58px;
  }
  .main-news-container img {
    width: 50%;
  }
  .contact {
    display: none;
  }
}
